<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Welcome to OneKey - login</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}css/index.css" />
    </head>

    <body>
        <div id="wrapper">

            <div id="main-header">
                <div class="logo-holder">
                    OneKey
                </div>
                <div class="black-strip">
                </div>
            </div>

            <div id="left-container">
                <div class="slogan-holder">
                </div>
            </div>

            <div id="right-container">

                <div class="input-holder">
                    <div class="input-holder-title">
                        Login 
                    </div>

                    <div class="input-holder-content">
                        <div class="input-holder-label">
                            Username :
                        </div>
                        <div class="input-holder-value">
                            <input type="text" class="text-box" /> 
                        </div>
                    </div>

                    <div class="input-holder-content">
                        <div class="input-holder-label">
                            Password :
                        </div>
                        <div class="input-holder-value">
                            <input type="text" class="text-box" /> 
                        </div>
                    </div>

                    <div class="input-holder-content">
                        <input class="button" type="button" value="Submit" />
                    </div>

                </div>

                <div class="input-holder">
                    <div class="input-holder-title">
                        Sign Up Free
                    </div>

                    <div class="input-holder-content">
                        <div class="input-holder-label">
                            First Name :
                        </div>
                        <div class="input-holder-value">
                            <input type="text" class="text-box" /> 
                        </div>
                    </div>

                    <div class="input-holder-content">
                        <div class="input-holder-label">
                            Last Name :
                        </div>
                        <div class="input-holder-value">
                            <input type="text" class="text-box" /> 
                        </div>
                    </div>

                    <div class="input-holder-content">
                        <div class="input-holder-label">
                            Your Email :
                        </div>
                        <div class="input-holder-value">
                            <input type="text" class="text-box" /> 
                        </div>
                    </div>

                    <div class="input-holder-content">
                        <div class="input-holder-label">
                            New Password :
                        </div>
                        <div class="input-holder-value">
                            <input type="text" class="text-box" /> 
                        </div>
                    </div>

                    <div class="input-holder-content">
                        <input class="button" type="button" value="Submit" />
                    </div>

                </div>
            </div>

            <div id="bottom-container">
                <div class="black-strip">
                </div>
                <div class="copyright-holder">
                    @ Copyright  OneKey
                </div>
            </div>


        </div>
    </body>
</html>

