/***************** body start **********************/
body {
    background: #f3f2f3;
    color: #000000;
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 12px;
    margin : 0px auto ;
}
#wrapper {
    margin-left:auto;
    margin-right:auto;
    width: 840px;
}
/***************** body end **********************/

/***************** common start **********************/
.black-strip {
    background: black ;
    width : 100% ;
    height : 4px; 
}
/***************** common end **********************/

/***************** head start **********************/
#main-header {
    background: #04295A ;
    width: 100%;
}
.logo-holder {
    padding : 10px 30px 0px 15px ;
    margin : 0px 10px ;
    text-align  : right ;
    font-weight: 900;
    font-size : 30px;
    color : white ;
}
/***************** head end **********************/

/***************** center container start **********************/
#center-container {
    background-image : url('../images/blue_strip.jpg') ;
    background-repeat : repeat-x ;
    width: 100%;
    height : auto; 
}
/***************** center container end **********************/
/***************** bottom container start **********************/
#bottom-container {
    background: #04295A  ;
    width: 100%;
    height : 30px ;
    color white ;
}
.copyright-holder {
    width : auto ;
    color : white ;
    font-weight: bold ;
    padding : 3px 15px ;
}
/***************** bottom container end **********************/
